@model IEnumerable<MyTinyCollege.Models.Department>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyTinyCollege</h1>
    <p class="lead">Our programs combine classroom theory with real world hands-on experience.</p>
    <p><a href="@Url.Action("About","Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>
            The first step to your new career starts here!
            Book a toor, request information, or apply right now.
            There is no application fee!
        </p>
        <p><a class="btn btn-danger href="#">Apply &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Campus</h2>
        <p>
            Join us during one of our Preview nights!
            Learn more about My Tiny College, meet with a member of our admissions department,
            tour the campus and even apply on the spot.
        </p>
        <p><a class="btn btn-default" href="#">View Campus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Programs</h2>
        <p>
            Whether you are a recent high school graduate, or looking for a career change,
            My TinyCollege has the career training to help you succeed!
        </p>
        <p><a class="btn btn-default" href="#">Our Program &raquo;</a></p>
    </div>
</div>

<div class="row">
    <h2>
        Faculties
    </h2>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 center-block">
            <div class="thumbnail">
                <a href="@Url.Action("Index","Course",new { SelectedDepartment = item.DepartmentID})">
                    <img src="~/DeptPics/@(item.DepartmentID).png" alt="@item.Name" />
                    <div class="caption">
                        <h4>@item.Name</h4>
                    </div>
                </a>
        </div>

    </div>
    }
    </div>